<?xml version="1.0" encoding="UTF-8"?>
<!--所有各种服务器参数-->
<Fir>
	<global>
		<!-- Specify the log level[debug,info,warning,error,fatal,always]. -->
		<log>all</log>
		<!--MySQL database connection[mysql://user:passwd@host:port/dbName]-->
		<mysql>mysql://flyer:flyer@192.168.2.24:3306/flyer</mysql>
		<!-- Use the specified local network device. -->
		<ifname>eth0</ifname>
		<!-- Connected to the specified supserserver, property 'port' default value is 10000. -->
		<superserver port="5000">192.168.2.24</superserver>
		<gateway_maxconns>5000</gateway_maxconns>
		<!--重连开关-->
		<reconn>true</reconn>
		<!--是否启动GM指令 true:启用  false:不启用-->
		<gm>true</gm>
		<!--http端口-->
		<http_port>1650</http_port>
		<!-- http线程池连接数量 -->
		<httpThreadPoolCapacity>1024</httpThreadPoolCapacity>		
		<!-- 充值验证key -->
        <chargekey>70d27d8c9c2aad41344218655ec93ddf</chargekey>
        <configdir>gametools/parseXmlTool/xmldir/</configdir>
	</global>
	<superserver>
		<!-- Specify the log filename. -->
		<logfilename>/home/develop/workplace/kittyserver/log/superserver.log</logfilename>
		<!-- 统一用户平台服务器列表文件 -->
		<loginServerListFile>superserver/loginServerList.xml</loginServerListFile>
		<billlogfile>/home/develop/workplace/kittyserver/log/billsuperserver.log</billlogfile>
		<rechargelogfile>/home/develop/workplace/kittyserver/log/recharge_superserver.log</rechargelogfile>		
		<!--MySQL database connection[mysql://user:passwd@host:port/dbName]-->
		<mysql>mysql://flyer:flyer@192.168.2.24:3306/flyer</mysql>
	</superserver>
	<dbserver>
		<!-- Specify the log filename. -->
		<logfilename>/home/develop/workplace/kittyserver/log/recordserver.log</logfilename>
		<!--MySQL database connection[mysql://user:passwd@host:port/dbName]-->
		<mysql>mysql://flyer:flyer@192.168.2.24:3306/flyer</mysql>
	</dbserver>
	<sceneserver>
		<!-- Specify the log filename. -->
		<logfilename>/home/develop/workplace/kittyserver/log/sceneserver.log</logfilename>
		<objlogfilename>/home/develop/workplace/kittyserver/log/obj.log</objlogfilename>
		<s_objlogfilename>/home/develop/workplace/kittyserver/log/statobj.log</s_objlogfilename>
		<billlogfile>/home/develop/workplace/kittyserver/log/billsceneserver.log</billlogfile>
		<!-- 是否开启存档MD5 验证-->
		<md5Verify>false</md5Verify>
		<!-- 数据库存档分组-->
		<writeBackGroup>10</writeBackGroup>
        <mysql>mysql://flyer:flyer@192.168.2.24:3306/flyer</mysql>
	</sceneserver>
	<gateserver>
		<!-- Specify the log filename. -->
		<logfilename>/home/develop/workplace/kittyserver/log/gateserver.log</logfilename>
		<billlogfile>/home/develop/workplace/kittyserver/log/billgatewayserver.log</billlogfile>
		<loginlogname>/home/develop/workplace/kittyserver/log/flserver.log</loginlogname>
		<forbidWordsFile>forbidWords</forbidWordsFile>
	</gateserver>
	<flserver>
		<!-- Specify the log level[debug,info,warning,error,fatal,always]. -->
		<log>debug</log>
		<!-- 网关最大连接数量 0表示无限制 -->
		<maxGatewayUser>10000</maxGatewayUser>
		<!-- Specify the log filename. -->
		<logfilename>/home/develop/workplace/kittyserver/log/flserver.log</logfilename>
		<mysql>mysql://flyer:flyer@192.168.2.24:3306/flyerflserver</mysql>
		<!-- 区信息列表数据库 -->
		<zoneInfo_mysql hashcode="20">mysql://flyer:flyer@192.168.2.24:3306/flyerflserver</zoneInfo_mysql>
		<!-- 邀请码数据库 -->
		<invitcode_mysql hashcode="10">mysql://flyer:flyer@192.168.2.24:3306/flyerflserver</invitcode_mysql>
		<!-- 客户端登陆端口，外部使用 -->
		<login_port>1620</login_port>
		<!-- 内部使用端口，用于服务器之间数据传输 -->
		<inside_port>1630</inside_port>
		<!-- PHP登陆端口，外部使用 -->
		<php_port>1640</php_port>
	</flserver>
</Fir>
